/* Style Global */
html,
body {
  font-family: "Plus Jakarta Sans", sans-serif;

  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Arial, sans-serif;
  list-style: none;
  box-sizing: border-box;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0px;
  margin-bottom: 0px;
}
p {
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #afafaf;
}
/* Style Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 80px;
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1200px;
}

.navbar-logo {
  width: 150px;
  height: auto;
}

.navbar-nav {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-right: 5px;
  padding: 10px 10px;
}

.nav-link {
  text-decoration: none;
  color: #333;
  transition: color 0.5s;
}

.nav-link:hover {
  color: #fdbd58;
}

nav a {
  color: #333;
  text-decoration: none;
}

nav a.aktif {
  color: #fdbd58;
}
.checkbtn {
  font-size: 30px;
  color: black;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
@media (max-width: 768px) {
  .navbar-logo {
    margin-bottom: 20px;
  }
  .navbar-nav {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #fff;
    top: 80px;
    left: -120%;
    text-align: center;
    transition: all 0.5s;
    display: block;
    list-style-type: disc;
  }

  .nav-item {
    display: block;
    margin: 20px 0;
    line-height: 30px;
  }

  .nav-link{
    padding: 0;
    margin: 0;
    font-size: 20px;
    color:#333;
  }
  .checkbtn {
    display: block;
  }
  nav a.aktif {
    background: none;
    color: #fdbd58;
  }
  #check:checked ~ ul {
    left: 0;
  }
}

/* -----------------------------------------------------------------
Style - Tim 
----------------------------------------------------------------- */
.h1-tim {
  padding-top: 160px;
  text-align: center;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: 50px;
}

.grid img {
  padding-left: 12px;
  padding-top: 9px;
  width: 250px;
  height: 250px;
  border-radius: 30px;
}

img {
  object-fit: cover;
}

.grid > article {
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  text-align: center;
  background: #fff;
  width: 280px;
  height: 410px;
  transition: 0.2s transform;
  cursor: pointer;
}

.grid > article img {
  padding-left: 12px;
  padding-top: 15px;
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.grid > article:hover {
  transform: scale(1.1);
}

.grid p {
  color: #000;
  font-size: 15px;
  padding: 10px;
}

.grid h2 {
  color: #000;
  font-size: 25px;
}
.grid button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #fdbd58;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  width: 80%;
}

.grid button:hover {
  background-color: #555;
}

/*----------------------------------------------------------------- 
Footer
---------------------------------------------------------------- */
footer {
  text-align: center;
  padding:  0;
  background-color: #333;

}
.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  height: 100px;
}
.socialicons {
  margin: 0 10px;
  height: 24px;
}

.socialicons a{
  font-size: inherit;
  color: #ffffff;
  text-decoration: none;
  margin-right: 10px;
  padding: 10px;
  background-color: rgba(255,255,255,.05);
  border-radius: 1000px;
  overflow: hidden;
}
.footerBottom {
  background-color: #333;
  padding: 0;
  text-align: center;
  border-top: 1px solid #fff;
}
.copyright {
  margin: 0;
  text-decoration: none;
}
.copyright a {
  font-size: 12pt;
  color: #ffffff;
  text-decoration: none;
}

@media screen and (max-width: 768px) {

  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
