/*-----------------------------------------------------------------
Global
-----------------------------------------------------------------*/
html,
body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background-image: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Arial, sans-serif;
  list-style: none;
  box-sizing: border-box;
  outline: none;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0px;
  margin-bottom: 0px;
}
p {
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #afafaf;
}

::-webkit-scrollbar {
  width: 7px;
  height: auto;
}

::-webkit-scrollbar-thumb {
  background-color: #fdbd58;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}
/*-----------------------------------------------------------------
Navigasi Bar
-----------------------------------------------------------------*/
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 80px;
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1200px;
}

.navbar-logo {
  width: 200px;
  height: auto;
}

.navbar-nav {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-right: 5px;
  padding: 10px 10px;
}

.nav-link {
  text-decoration: none;
  color: #333;
  transition: color 0.5s;
}

.nav-link:hover {
  color: #fdbd58;
}

nav a {
  color: #333;
  text-decoration: none;
}

nav a.aktif {
  color: #fdbd58;
}
.checkbtn {
  font-size: 30px;
  color: black;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
@media (max-width: 768px) {
  .navbar-logo {
    margin-bottom: 20px;
  }
  .navbar-nav {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #fff;
    top: 80px;
    left: -120%;
    text-align: center;
    transition: all 0.5s;
    display: block;
    list-style-type: disc;
  }

  .nav-item {
    display: block;
    margin: 20px 0;
    line-height: 30px;
  }

  .nav-link{
    padding: 0;
    margin: 0;
    font-size: 20px;
    color:#333;
  }
  .checkbtn {
    display: block;
  }
  nav a.aktif {
    background: none;
    color: #fdbd58;
  }
  #check:checked ~ ul {
    left: 0;
  }
}

/* -----------------------------------------------------------------
Style - Tampilan Home
----------------------------------------------------------------- */
.home {
  display: flex;
  align-items: center;
  padding: 150px;
  background-color: #ffffff;
}

.home-text {
  flex: 1;
  padding: 20px;
}

.home-text h1 {
  font-size: 42px;
  font-weight: 100;
  margin: 0;
}

.home-text p {
  font-size: 16px;
  margin: 10px 0;
}

.home-image {
  max-width: 50%;
  padding: 20px;
}

.home-image img {
  max-width: 80%;
  border-radius: 10px;
}

.home-image {
  position: relative;
  overflow: hidden;
}

#imgHomeUbah {
  opacity: 0;
  transition: opacity 3.5s ease-in-out;
}

#imgHomeUbah.tampil {
  opacity: 1;
}
@media (max-width: 768px) {
  .home{
    padding: 150px 0;
    padding-bottom: 200px;
  }
  .home-text h1 {
    font-size: 36px;
  }
  .home-text p {
    font-size: 14px;
  }
}

/*-----------------------------------------------------------------
Card Data Home
-----------------------------------------------------------------*/
.data-home {
  width: 800px;
  height: 90px;
  background-color: rgba(255, 255, 255, 0.85);
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 20px;
  position: absolute;
  top: 785px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.data-item {
  padding: 0px;
  border-right: 1px solid #ccc;
}

.data-item:last-child {
  border-right: none;
}

.data-home h1 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 15px;
  color: #000000;
}
.data-home p {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: #fdbd58;
}


@media (max-width: 920px) {
  .home{
    padding-bottom: 350px;
    
  }
  .promo-container{
    padding-top: 350px;
  }
}

@media (max-width: 768px) {
  .data-home {
      max-width: 80%;
      font-size: 11px;
      height: 100%;
      max-height: 50%;
      padding: 10px;
      grid-template-columns: 1fr 1fr;
  }
  .home{
    padding-bottom: 350px;
  }
  .promo-container{
    padding-top: 350px;
  }

}

@media (max-width: 480px) {
  .data-home {
      max-width: 80%;
      padding: 10px;
      max-height: 50%;
      font-size: 11px;
      grid-template-columns: 1fr;
  }
  .home{
    padding-bottom: 350px;
  }
  .promo-container{
    padding-top: 350px;
  }
}

/*-----------------------------------------------------------------
Promo 
-----------------------------------------------------------------*/
.promo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 100px 80px 150px;
  background-color: #fdbd58;
}

.promo-content {
  display: flex;
  align-items: center;
  max-width: 1200px;
  width: 100%;
}

.promo-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.fade-masuk {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.fade-keluar {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.promo-image img {
  max-width: 100%;
  max-height: 700px;
  width: auto;
  height: auto;
  object-fit: contain;
}

.promo-text {
  flex: 1;
  text-align: left;
  padding: 20px;
}
.promo-text p {
  font-size: 13px;
  font-family: "Plus Jakarta Sans", sans-serif;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 5px;
  color: #000000;
}

.promo-text h1 {
  font-size: 25px;
  font-family: "Plus Jakarta Sans", sans-serif;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 5px;
  color: #000000;
}

@media (max-width: 768px) {
  .promo-container{
    padding: 100px 10px;
  }
  .promo-content {
    flex-direction: column;
    text-align: center;
  }

  .promo-text {
    padding: 10px;
  }

  .promo-text h1 {
    font-size: 1.5em;
  }
}

/* -----------------------------------------------------------------
Style - Card Program
----------------------------------------------------------------- */
.program h1 {
  font-size: 25px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 300;
  text-align: center;
  padding: 100px 0px 20px 0px;
  position: relative;
  font-weight: bold;
}

.program h1::after {
  content: "";
  display: block;
  width: 75px;
  height: 3px;
  border-radius: 50px;
  background-color: #fdbd58;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.program-2 h1 {
  font-size: 25px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 300;
  text-align: center;
  padding: 0px 0px 20px 0px;
  position: relative;
  font-weight: bold;
}

.program-2 h1::after {
  content: "";
  display: block;
  width: 75px;
  height: 3px;
  border-radius: 50px;
  background-color: #fdbd58;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.kartu {
  width: 250px;
  height: 400px;
  background-color: #fdbd58;
  border: 1px solid #ccc;
  margin-right: 20px;
  text-align: center;
  flex-shrink: 0;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.kartu img {
  max-width: 100%;
  max-height: 220px;
}

.kartu h2 {
  font-size: 17px;
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: #ffff;
  padding: 15px;
  color: #000;
  
}

.kartu p {
  font-size: 12px;
  font-family: "Plus Jakarta Sans", sans-serif;
  padding-left: 18px;
  padding-right: 18px;
  color: #000000;
  line-height: 1.5; 
}

.kartu button {
  width: 100%;
  padding: 10px;
  background-color: #faaf36;
  color: #fff;
  font-family: "Plus Jakarta Sans", sans-serif;
  border: none;
  cursor: pointer;
  font-size: 13px;
}

.kartu button:hover {
  background-color: #fc9f0b;
}

.kontainer-kartu {
  display: grid;
  grid-template-columns: auto 1fr auto;
  padding-top: 50px;
  padding-bottom: 100px;
}

.button-slide-kiri {
  cursor: pointer;
  background-color: #faaf36;
  border: 0px solid #ccc;
  border-radius: 5px;
  padding: 10px 20px;
}

.button-slide-kiri:hover {
  background-color: #fc9f0b;
}

.button-slide-kiri i {
  color: white;
}

.section-tengah {
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: hidden;
}

.section-kiri {
  display: flex;
  padding-right: 30px;
  padding-left: 150px;
  justify-content: flex-end;
  align-items: center;
}

.section-kanan {
  display: flex;
  padding-left: 30px;
  padding-right: 150px;
  justify-content: flex-start;
  align-items: center;
}

/*-----------------------------------------------------------------
Layanan
-----------------------------------------------------------------*/
.layanan {
  justify-content: center;
  align-items: center;
  padding: 100px ;
  padding-left: 150px;
  background-color: #fdbd58;
  border-top-left-radius: 50px;
  border-top-right-radius: 5%;
}

.layanan img {
  max-width: 80%;
  height: auto;
  display: block;
  margin: 20px auto;
}

.layanan ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.layanan li {
  padding: 20px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 15px;
  background-color: #ffffff;
  border-radius: 8px;
  margin-right: 10px;
  margin-bottom: 10px;
  flex: 1;
}

@media (max-width: 768px) {
  .layanan{
    padding: 100px 10px;
  }
  
}
/*----------------------------------------------------------------- 
Mitra
---------------------------------------------------------------- */
.mitra-judul h1 {
  font-size: 32px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 300;
  text-align: center;
  padding: 80px;
  padding-top: 120px;
  padding-bottom: 20px;
  position: relative; 
}
.mitra-judul h1::after {
  content: "";
  display: block;
  width: 75px;
  height: 3px;
  border-radius: 50px;
  background-color: #fdbd58;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.mitra-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 70%;
  margin: 0 auto;
  padding: 2%;
  padding-bottom: 150px;
  box-sizing: border-box;
}

.mitra-img {
  flex: 1;
  margin: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.mitra-img img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.mitra-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 10%;
}

.mitra-icon i {
  font-size: 80px;
  color: #fdbd58;
}

@media screen and (max-width: 768px) {
  .mitra-judul h1 {
    font-size: 18px;
    padding: 10px;
  }

  .mitra-container {
    max-width: 100%;
  }

  .mitra-img {
    flex: 1;
    margin: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .mitra-icon {
    width: 60px;
    height: 60px;
  }

  .mitra-icon i {
    font-size: 24px;
  }
}

/*----------------------------------------------------------------- 
Kontak
---------------------------------------------------------------- */

.kontak-judul h1 {
  font-size: 32px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 300;
  text-align: center;
  padding: 80px;
  padding-top: 70px;
  padding-bottom: 50px;
}

.kontak-container {
  justify-content: center;
  align-items: center;
  padding: 150px ;
  padding-top: 80px;
  padding-bottom: 50px;
  background-color: #fdbd58;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-bottom: 20px;
}

.kontak-pilihan-container  {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
}

.ikon {
  width: 50%;
  font-size: 22px;
  font-family: "Plus Jakarta Sans", sans-serif;
  text-align: center;
  color: #000;
  cursor: pointer;
}

.divider {
  width: 5px;
  height: 30px;
  background-color: #000;
  border-radius: 50px;
  margin: 0 10px;
}

.form-kontak {
  background-color: #ffff;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.7s ease-in-out;
  width: auto;
  border-radius: 12px;
  margin: 50px;
  border: 2px solid #000;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2);
}

.form-kontak.aktif {
  max-height: 700px;
}

.form-kontak h2 {
  font-size: 22px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 300;
  text-align: left;
  padding: 80px;
  padding-bottom: 10px;
}

.form-kontak label {
  font-size: 15px;
  font-family: "Plus Jakarta Sans", sans-serif;
  padding-bottom: 5px;
  display: block;
  margin-bottom: 5px;
}

.kontak-con{
  padding: 80px;
  padding-top: 10px;
}

.form-kontak input[type="text"],
.form-kontak input[type="email"],
.form-kontak textarea,
.form-kontak input[type="date"],
.form-kontak input[type="time"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

.form-kontak input[type="submit"] {
  background-color: #fdbd58;
  float: right;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-kontak input[type="submit"]:hover {
  background-color: #fc9b00;
}

#formBerlangganan {
  background-color: #ffff;
}

#formKontak {
  background-color: #ffff;
}

.form-kontak + .form-kontak {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .kontak-judul h1 {
    font-size: 24px;
    padding: 30px;
  }
  .kontak-container {
    padding: 80px;
  }
  .kontak-pilihan-container {
    height: auto;
  }
  .ikon {
    font-size: 18px;
  }
  .divider {
    height: 20px;
  }
  .form-kontak {
    margin: 20px;
  }
  .form-kontak h2 {
    font-size: 18px;
    padding: 30px 0;
  }
  .form-kontak label {
    font-size: 14px;
  }
}

/*----------------------------------------------------------------- 
Pesan PopUp
---------------------------------------------------------------- */
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fdbd58;
  border: 2px solid #000000;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.popup p{
  font-size: 18px;
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #000;
}

.popup button{
  background-color: #fff;
  float: right;
  color: #000000;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.popup button :hover{
  background-color: #9e9e9e;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
@media screen and (max-width:768px) {
  .kontak-container{
    padding: 80px 20px 50px 20px;
  }
  .form-kontak h2 {
    padding: 40px;
    padding-bottom: 10px;
  }
  .kontak-con{
    padding: 40px;
    padding-top: 10px;
  }
}
/*----------------------------------------------------------------- 
Footer
---------------------------------------------------------------- */
.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  height: 100px;
}
.socialicons a{
  font-size: inherit;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border-radius: 100px;
  background-color: #fdbd58;
}
.socialicons a:hover {
  background-color: #ffa30f;
  transition: 0.5s;
}
.socialicons a:hover {
  color: #fff;
  transition: 0.5s;
}
.footerBottom {
  background-color: #fff;
  padding: 0;
  text-align: center;
  border-top: 2px solid #fdbd58;
}
.copyright {
  margin: 0;
  text-decoration: none;
  color:#000000;
  padding-top: 10px;
  padding-bottom: 50px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 12px;
}

@media screen and (max-width: 768px) {

  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .copyright {
    padding-bottom: 10px;
  }
}


/*----------------------------------------------------------------- 
Infoberita
---------------------------------------------------------------- */
.infoberita {
  background-color: #fdbd58;
  border-top-right-radius: 75px;
  border-top-left-radius: 75px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-bottom: 10px;
  height: 30px;
  font-size: 13px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  font-family: "Plus Jakarta Sans", sans-serif;
}
#marquee-container{
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
}

@media (max-width: 768px) {
  .infoberita {
      position: static; 
      background-color: #333;
      text-align: center;
  }
}