/*-----------------------------------------------------------------
Global
-----------------------------------------------------------------*/
html,
body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background-image: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Arial, sans-serif;
  list-style: none;
  box-sizing: border-box;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0px;
  margin-bottom: 0px;
}
p {
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #afafaf;
}

/*-----------------------------------------------------------------
Navigasi Bar
-----------------------------------------------------------------*/
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 80px;
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1200px;
}

.navbar-logo {
  width: 150px;
  height: auto;
}

.navbar-nav {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-right: 5px;
  padding: 10px 10px;
}

.nav-link {
  text-decoration: none;
  color: #333;
  transition: color 0.5s;
}

.nav-link:hover {
  color: #fdbd58;
}

nav a {
  color: #333;
  text-decoration: none;
}

nav a.aktif {
  color: #fdbd58;
}
.checkbtn {
  font-size: 30px;
  color: black;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
@media (max-width: 768px) {
  .navbar-logo {
    margin-bottom: 20px;
  }
  .navbar-nav {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #fff;
    top: 80px;
    left: -120%;
    text-align: center;
    transition: all 0.5s;
    display: block;
    list-style-type: disc;
  }

  .nav-item {
    display: block;
    margin: 20px 0;
    line-height: 30px;
  }

  .nav-link{
    padding: 0;
    margin: 0;
    font-size: 20px;
    color:#333;
  }
  .checkbtn {
    display: block;
  }
  nav a.aktif {
    background: none;
    color: #fdbd58;
  }
  #check:checked ~ ul {
    left: 0;
  }
}

/*-----------------------------------------------------------------
Tentang 
-----------------------------------------------------------------*/
.tentang-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 250px 100px 80px 150px;
  background-color: #fdbd58;
}

.tentang-content {
  display: flex;
  align-items: center;
  max-width: 1200px;
  width: 100%;
}

.tentang-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.tentang-image img {
  max-width: 100%;
  max-height: 700px;
  width: auto;
  height: auto;
  object-fit: contain;
}

.tentang-text {
  flex: 1;
  text-align: left;
  padding: 20px;
}
.tentang-text p {
  font-size: 11pt;
  font-family: "Plus Jakarta Sans", sans-serif;
  padding: 20px;
  background-color: #ffffff;
  border: 2.5px solid #000000;
  border-radius: 10px;
  color: #000000;
}

.tentang-text h1 {
  font-size: 22pt;
  font-family: "Plus Jakarta Sans", sans-serif;
  padding: 15px;
  background-color: #ffffff;
  border: 2.5px solid #000000;
  border-radius: 10px;
  color: #000000;
}

@media (max-width: 768px) {
  .tentang-container{
    padding: 100px 10px;
  }
  .tentang-content {
    flex-direction: column;
    text-align: center;
  }

  .tentang-text {
    padding: 10px;
  }

  .tentang-text h1 {
    font-size: 1.5em;
  }
}

/*-----------------------------------------------------------------
Misi 
-----------------------------------------------------------------*/
.misi-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 100px 150px 150px;
  background-color: #fdbd58;
}

.misi-content {
  display: flex;
  align-items: center;
  max-width: 1200px;
  width: 100%;
}

.misi-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.misi-image img {
  max-width: 100%;
  max-height: 500px;
  width: 500px;
  height: 500px;
  object-fit: contain;
}

.misi-text {
  flex: 1;
  text-align: left;
  padding: 5px;
}

.misi-text p {
  font-size: 11pt;
  font-family: "Plus Jakarta Sans", sans-serif;
  padding: 15px;
  background-color: #ffffff;
  border: 2.5px solid #000000;
  border-radius: 10px;
  color: #000000;
}

@media (max-width: 768px) {
  .misi-container{
    padding: 100px 10px;
  }
  .misi-content {
    flex-direction: column;
    text-align: center;
  }

  .misi-text {
    padding: 10px;
  }

  .misi-text h1 {
    font-size: 1.5em;
  }
}


/*-----------------------------------------------------------------
Visi 
-----------------------------------------------------------------*/
.visi-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 100px 0px 150px;
  background-color: #fdbd58;
}

.visi-content {
  display: flex;
  align-items: center;
  max-width: 1200px;
  width: 100%;
}

.visi-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.visi-image img {
  max-width: 100%;
  max-height: 500px;
  width: 450px;
  height: 450px;
  object-fit: contain;
}

.visi-text {
  flex: 1;
  text-align: left;
  padding: 5px;
}

.visi-text p {
  font-size: 12pt;
  font-family: "Plus Jakarta Sans", sans-serif;
  padding: 15px;
  background-color: #ffffff;
  border: 2.5px solid #000000;
  border-radius: 10px;
  color: #000000;
}

@media (max-width: 768px) {
  .visi-container{
    padding: 100px 10px;
  }
  .visi-content {
    flex-direction: column;
    text-align: center;
  }

  .visi-text {
    padding: 10px;
  }

  .visi-text h1 {
    font-size: 1.5em;
  }
}

/*----------------------------------------------------------------- 
Footer
---------------------------------------------------------------- */
footer {
  text-align: center;
  padding:  0;
  background-color: #ddb41f;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;

}
.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ddb41f;
  height: 100px;
}
.socialicons {
  margin: 0 10px;
  height: 24px;
}

.socialicons a{
  font-size: inherit;
  color: #000;
  text-decoration: none;
  margin-right: 10px;
  padding: 10px;
  background-color: #fff;
  border-radius: 1000px;
  overflow: hidden;
}
.socialicons a:hover {
  background-color: #ddb41f;
  transition: 0.5s;
}
.socialicons a:hover {
  color: white;
  transition: 0.5s;
}
.footerBottom {
  background-color: #ddb41f;
  padding: 0;
  text-align: center;
  border-top: 1px solid #000;
}
.copyright {
  margin: 0;
  text-decoration: none;
  color:#000;
  font-size: 12pt;
}

@media screen and (max-width: 768px) {

  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
