/* Style Global */

html,
body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background-image: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Arial, sans-serif;
  list-style: none;
  box-sizing: border-box;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0px;
  margin-bottom: 0px;
}
p {
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #afafaf;
}

/* Style Navbar */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
  padding-right: 40px;
  background-color: white;
  position: fixed;
  width: 100%;
}

.logo {
  width: 100px;
  height: 80px;
  margin-left: 0px;
  background-color: #0082e6;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
@media (max-width: 952px) {
  .logo {
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 16px;
  }
}

/* Background */
#background{
 background: url();
}

/*-----------------------------------------------------------------
Navigasi Bar
-----------------------------------------------------------------*/

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 80px;
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1200px;
}

.navbar-logo {
  width: 150px;
  height: auto;
}

.navbar-nav {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-right: 5px;
  padding: 10px 10px;
}

.nav-link {
  text-decoration: none;
  color: #333;
  transition: color 0.5s;
}

.nav-link:hover {
  color: rgb(19,175,240);
}

.nav-linkgrub a {
  display: inline-block;
  padding: 10px 10px;
  color: #fff;
  text-transform: capitalize;
  font-size: 13px;
  background: rgb(19,175,240);
  background: linear-gradient(105deg, rgba(91,104,235,1) 0%, rgba(40,225,253,1) 100%);
  border-radius: 5px;
  letter-spacing: 0.3px;
}

.nav-linkgrub a:hover {
  color: #fff;
  background: rgb(91,104,235,1);
}

nav a {
  color: #333;
  text-decoration: none;
}

nav a.active {
  color: rgb(19,175,240);
}


/* 
-----------------------------------------------------------------
Style - Home
----------------------------------------------------------------- 
*/

.tampil1 {
  display: flex;
  align-items: center;
  padding: 150px;
  padding-bottom: 10px;
  background-color: #ffffff;
}

.tampil1-text {
  flex: 1;
  padding: 20px;
}

.tampil1-text h1 {
  font-size: 42px;
  font-weight: 100;
  margin: 0;
}

.tampil1-text p {
  font-size: 16px;
  margin: 10px 0;
}

.tampil1-image {
  max-width: 50%;
  padding: 20px;
}

.tampil1-image img {
  max-width: 80%;
  border-radius: 15px;
  height: auto;
}

.tampil1-image {
  position: relative;
  overflow: hidden;
}

#tampil1-fade-image {
  opacity: 0;
  transition: opacity 2.5s ease-in-out;
}

#tampil1-fade-image.loaded {
  opacity: 1;
}


/*-----------------------------------------------------------------
Promo 
-----------------------------------------------------------------*/
.promo-container {
  margin: auto;
  padding: 120px 0;
  background-color: #ffffff;
  margin-bottom: 50px;
  display: flex;
}
.promo-container h1 {
  top: 100px;
  font-size: 20px;
  font-weight: bold;
  text-align: right;
}
.promo-content {
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.promo-image {
  flex: 1;
  padding: 20px;
}

.promo-image img {
  width: 100%;
  height: auto;
  border-radius: 15px;
  display: block;
  text-align: left;
}

.promo-text {
  flex: 1;
  padding: 20px;
}

.promo-text h2 {
  font-size: 42px;
  font-weight: 800;
  margin: 0;
}

.promo-text p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 30px;
  left: 30px;
}

.button-content {
  display: inline-block;
  padding: 12px 24px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.button-content:hover {
  background-color: #0056b3;
}

/*-----------------------------------------------------------------
Program
-------------------------------------------------------------------*/
.program-container {
  margin: auto;
  background-color: #ffffff;
  margin-bottom: 50px;

}
.program-container h1 {
  font-size: 32px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 300;
  padding: 20px;
  padding-bottom: 50px;
  padding-left: 150px;
  text-align: left;
}

.program-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: linear-gradient(
    105deg,
    rgba(91, 104, 235, 1) 0%,
    rgba(40, 225, 253, 1) 100%
  );
  padding: 0 10px;
  max-width: 1500px;
  margin: 0 auto;
}
.description {
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
  text-align: center;
  background-color: linear-gradient(
    105deg,
    rgba(91, 104, 235, 1) 0%,
    rgba(40, 225, 253, 1) 100%
  );
}

.description img {
  max-width: 100%;
  height: 150px;
  border-radius: 8px;
}

.description h2 {
  margin-top: 10px;
  font-size: 1.5rem;
}

.description p {
  margin-top: 5px;
  font-size: 1rem;
}

/*-----------------------------------------------------------------
Layanan
-----------------------------------------------------------------*/
.layanan {
  display: flex;
  margin: auto;
  margin-bottom: 50px;
}
.layanan img {
  width: 50%;
  height: auto;
  margin: 40px 30px;
}

.layanan-content {
  padding: 0;
}
.layanan-content img {
  display: block;
  height: 25px;
  width: 25px;
  aspect-ratio: auto 25/25;
  object-fit: cover;
}
.layanan-container p {
  color: #576168 !important;
  font-weight: 700 !important;
  font-size: calc(1.3rem);
}
.layanan-container p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.layanan-content p {
  font-size: 1rem;
  margin: 0;
}
/*----------------------------------------------------------------- 
Style - Hubungi Kami - Content 
---------------------------------------------------------------- */
form {
  display: flex;
  flex-direction: column;
  margin-left: 95px;
  margin-top: 5px;
}
label {
  font-weight: bold;
}
input[type="text"],
textarea {
  width: 40%;
  padding: 10px;
  margin-bottom: 2px;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 10px;
}
.hubungi-container{
  width: 60%;
  text-align: center;
  padding: 20px;
  margin-top: 10px;  
  font-size: large;
}
.information{
  text-align: center;
  color: #000000;
  margin-top: 10px;
  font-weight: 500;
}
.submit-button {
  background-color: #007bff; 
  color: #ffffff; 
  font-size: 15px; 
  padding: 10px 20px; 
  border: none;
  cursor: pointer; 
  font-weight: bold;
  border-radius: 20px;
  margin-bottom: 20px;
  margin-left: 95px;
}
.submit-button:hover {
  background-color: #0056b3;
}


/*----------------------------------------------------------------- 
Style - Footer - Content 
---------------------------------------------------------------- */
footer {
  background-color: #111;
  width: 100%;
  align-items: center;
}
.footer-container {
  width: 100%;
  padding: 70px 30px 20px;
}
.socialicons {
  display: flex;
  justify-content: center;
}
.socialicons a {
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
}
.socialicons a {
  font-size: 2em;
  color: black;
  opacity: 0.9;
}
.socialicons a:hover {
  background-color: #111;
  transition: 0.5s;
}
.socialicons a:hover {
  color: white;
  transition: 0.5s;
}

.footerBottom {
  background-color: #000;
  padding: 20px;
  text-align: center;
}
.footerBottom p {
  color: white;
}
.designer {
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
}
